/*
reglas
selectores
declaraciones
propiedades 
valores
*/

body{
    font-family: 'Source Sans Pro' sans-serif;
    background: #FFF;
    color: red;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #FFF;
    margin: 100px 150px 50px 50px;
    /*text-transform: uppercase;
    text-decoration: overline;*/
}

h1 strong{
    color: #026fff
}

.header{
    background:#FFF;
    background-color: #1D252C;
    color: #FFF;
}

.header a{
    color: white;
    text-decoration: none;
}

.hero {
    height: 300px;
    background-image: url(../imagenes/hero.jpg);
    background-color: #1b2127;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right ;
}

.portfolio{
    background: #FAFAFA;
    margin: 20px;
}

.project{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 15px ;
    padding: 20px;
    background: #FFF;
    /*border-width: 5px;
    border-color: red;
    border-style: solid;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
    border-left: 5px solid blue;
    border-right: 5px solid black; */
}

.project div{
    width: 500px;
}

.project_imageContainer{
    width: 500px;
}


.flexbox{
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.box{
    width: 25px;
    height: 25px;
    margin: 10px;
    border: 1px solid red; 
    flex-shrink: 0;
    /* align-self: flex-start; */
}



/*selector de etiqueta header - section - article -nav */
/*selector descendente body header div nav ol li a*/
/*selector de clase .link*/
/*selector id #portafolio*/
